body {
    background-color:lightblue;
    background-image: url("../images/flamingos.jpg");
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    line-height: 25px;
    font-size: 16px;


}

.content {
    width: 75%;
    height: auto;
    background-color: khaki;
    color: teal;
    margin: 15px auto;
    padding-top: 15px;
    padding-bottom: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.game {
    padding: 10px 30px; 
}



button {
    padding: 25px 40px;
    background-color: #FF727A;
    cursor: pointer;
    margin: 10px auto;
    color: white;
    font-size: 1.25rem;
}


img {
    width: 400px;
    height: 300px;
    padding: 20px;
}
.question {
    font-size: 1.25rem;
}
.board ol {
    padding-left: 60px;
}
.clickable:hover {
    cursor: pointer;
    color: #FF727A;
}