body {
    background-color:lightblue;
    background-image: url("../images/flamingos.jpg");
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    line-height: 25px;
    font-size: 16px;


}

h1 {
    margin-top: 60px;
    font-size: 2.5rem;
}

.content {
    width: 75%;
    background-color: khaki;
    color: teal;
    margin: 45px auto;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.game {
    padding: 15px 60px 15px 60px; 
}



button {
    padding: 25px 40px;
    background-color: #FF727A;
    cursor: pointer;
    margin: 10px auto;
    color: white;
    font-size: 1.25rem;
    margin-top: 50px;
}


img {
    width: 450px;
    height: 300px;
    padding: 20px;
}
.question {
    font-size: 1.25rem;
}
.board ol {
    margin-left: 30px;
}

.clickable {
    padding: 15px;
    font-size: 1.5rem;
}
.clickable:hover {
    cursor: pointer;
    color: #FF727A;
}